<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../layouts/head', { title: 'Home' }) %>
    
  </head>
  <body>

    <!-- 
      - #TOP APP BAR
    -->

    <%- include('../layouts') %>


    
  </body>
</html>
